.container{
    background: rgb(161, 169, 172);
    border: 2px solid black;
    padding: 2%;
    width: fit-content;
    align-items: center;
    justify-content: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}